@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,300;0,400;0,700;1,700&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

form {
  width: 350px;
  margin: 50px auto;
  padding: 10px;
}

form div {
  margin-top: 15px;
}

div h1 {
  margin-bottom: 30px;
}

label {
  font-weight: black;
}

input,
textarea {
  background-color: #dfdede;
  width: 90%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #dfdede;
  resize: none;
}

select {
  background-color: #dfdede;
  width: 338px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #dfdede;
  resize: none;
}

button {
  background-color: orangered;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 6px 25px;
  margin-top: 5px;
}

button:hover {
  background-color: black;
}
